.yo{
    height: fit-content;
    width: fit-content;
    margin-left: 550px;
    
}
.background{
    box-shadow: 0px 0px 25px #222;
    backdrop-filter: blur(10px);
    color: white;
    
    border-radius: 8px;
    width: fit-content;
}

.backg{
    box-shadow: 0px 0px 25px #222;
    backdrop-filter: blur(10px);
    color: rgb(11, 11, 143);
    
    border-radius: 8px;
    width: fit-content;
}